     <div id="donate_board" class="donate_bar center">
        <a id="btn_donate" class="btn_donate" href="javascript:;" title="Donate 打赏"></a>
        <span class="donate_txt">
           &uarr;<br>
           Enjoy it ? Donate me !  欣赏此文？求鼓励，求支持！
        </span>
        <br>
      </div>

    <!-- 支付宝打赏图案 -->
      <div id="donate_guide" class="donate_bar center hidden">
          <a href="http://ww4.sinaimg.cn/large/692869a3gw1esp065y3aaj207i07i74o.jpg" title="支付宝打赏" class="fancybox" rel="article0"       style="float:left;margin-left:25%;margin-right:2px;">
          <img src="http://static.ixirong.com/pic/donate/alipay1.webp" title="支付宝打赏" height="164px" width="164px">
          </a>
      </div>

    <!-- 微信打赏图案 -->
      <div id="donate_guide" class="donate_bar center hidden">
          <a href="http://ww2.sinaimg.cn/large/692869a3gw1esp02tdokcj20al0ahgmy.jpg" title="支付宝打赏" class="fancybox" rel="article0"  >
          <img src="http://static.ixirong.com/pic/donate/wechat.png" title="支付宝打赏" height="164px" width="164px">
          </a>
      </div>

<script type="text/javascript">
document.getElementById('btn_donate').onclick = function(){
  $('#donate_board').addClass('hidden');
  $('#donate_guide').removeClass('hidden');
}
</script>
