<div class="widget tag">
<h3 class="title">友情链接</h3>
<ul class="entry">
<li><a href="http://blog.csdn.net/jackroyal" title="搁浅St的blog">我的CSDN</a></li>
<li><a href="http://www.cnblogs.com/geqianst" title="搁浅St的blog">我的cnblogs</a></li>
<li><a href="http://blog.csdn.net/happyhuirong" title="笨笨的blog">笨笨的csdn</a></li>
<li><a href="http://huirong.github.io" title="笨笨的blog">笨笨的blog</a></li>
</ul>
</div>
